



body {
    background: #FFFFFF;

}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.main-logo {
        font-family: 'Raleway'; sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;   
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #2196F3;
}

.logo-dark {
    color: #000000;
}

.logo-light {
    color: #FFFFFF;
}

.menu-link {
    font-family: 'Roboto'; sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}

.header-mail,
.header-phone {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}

.header-mail:hover,
.header-mail:focus {
    color: #2196F3;
}

.header-phone:hover,
.header-phone:focus {
    color: #2196F3;
}

.section-service {
    background: #2F303A;
}

.top-title {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.top-btn {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        color: #FFFFFF;
        background: #2196F3      
}

.top-btn:hover,
.top-btn:focus {
    background: #188CE8;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.subtitle-advantages {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}

.text-advantages {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}

.title-our-work {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.section-team {
    background: #F5F4FA;
}

.title-team {
    font-family: 'Roboto'; sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.list-team {
    background: #FFFFFF;
}

.name-team {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.post-team {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}

.footer {
    background: #2F303A;
}

.link-address-map {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

address {
    font-style: normal;
}


.address-mail,
.address-tell {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

.btn-filter {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        background: #F5F4FA;
        color: #212121;
}

.btn-filter:hover,
.btn-filter:focus {
    background: #2196F3;
    color: #FFFFFF;
}

.subtitle-portfolio {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        color: #212121;
}

.text-portfolio {
        font-family: 'Roboto'; sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    
        color: #757575;
}